# To use git pre-commit hooks, install the dev requirements
# for this project and then install these hooks with
#   pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ['--profile=black']

  - repo: https://github.com/ambv/black
    rev: 22.10.0
    hooks:
      - id: black
        args: ['--line-length', '79']

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ['--max-line-length=79', '--ignore=E203,E501,W503,F401']
